fastapi==0.111.0
uvicorn[standard]==0.29.0
python-multipart==0.0.9
pymupdf==1.23.8
chromadb==0.5.23
groq==0.4.1 
httpx==0.27.0
python-dotenv==1.0.0
langchain-text-splitters==0.2.4
sentence-transformers==2.7.0
Pillow==10.3.0
numpy==1.26.4
attrs==23.2.0
async-timeout==4.0.3
aiohttp==3.9.5
